body {
  margin: 0 !important;
  font-family:monospace;
  overflow: hidden; }

.-botpress-channel-web__style__quickReplyContainer___1iL8H button.-botpress-channel-web__style__bubble___eNt_J{
font-size:12px !important;
font-family:monospace;


}

